<div class="card w-64 m-2 rounded-sm p-2">
  <div class="title flex justify-between">
    <p class="ml-2">{{ forecast.dt_txt | date: "short" }}</p>
    <p class="mr-2">{{ forecast.main.temp_max | number: "1.0-0" }}°</p>
  </div>
  <img class="ml-auto mr-auto mt-4" src="assets/sunny.svg" alt="" />
  <div class="details mt-4 ml-2 mb-2">
    <div class="detail mr-2 flex justify-between">
      <p class="">
        Feels Like: {{ forecast.main.feels_like | number: "1.0-0" }}°
      </p>
      <p class="">Humidity: {{ forecast.main.humidity }}%</p>
    </div>
    <div class="detail mr-2 flex justify-between">
      <p class="">Details: 50%</p>
      <p class="">Details: 50%</p>
    </div>
  </div>
</div>
