<div class="container">
  <div class="weather">
    <weather></weather>
  </div>

  <div class="todo h-64 w-1/2 bg-blue-200">
    <div class="todo-container">
      <div><p>todo</p></div>
    </div>
  </div>

  <div class="bg-gray-700 p-3 flex flex-wrap news">
    <div class="card rounded bg-gray-300 p-3 w-40 m-2">
      <h3 class="heading">Heading</h3>
      <p>news</p>
      <button class="cta">Link</button>
    </div>
    <div class="card bg-gray-300 p-3 w-40 m-2">
      <h3 class="heading">Heading</h3>
      <p>news</p>
      <button class="cta">Link</button>
    </div>
    <div class="card bg-gray-300 p-3 w-40 m-2">
      <h3 class="heading">Heading</h3>
      <p>news</p>
      <button class="cta">Link</button>
    </div>
  </div>
  <app-notification-list></app-notification-list>
</div>
